.head1{
    top: 50px;
    position: relative;


}
h3{
    color: #FFBD59;
    position: relative;
    font-size: 50px;
    
}


 .mx-auto{
   
   font-size: 20px;
    border-radius: 30px;
  
    width: 300px;
    padding: 9px;
   
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 20px;

  }
 #box2 {
    
  border: 2px solid black;
  border-radius: 30px;
  padding: 10px;
  text-align:center;
  background-color:#FFBD59;
  width: 300px;
  margin-top: 20px;
    
  }